* {
    color: rgb(224, 224, 224);
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
p, p span {
    font-family: 'Roboto', sans-serif;
}
p span {
    color: hsl(210, 18%, 70%);

}
body {
    height: 100vh;
    background-color: hsl(210, 11%, 15%);
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 0.5em;
    box-shadow: 0 2px 20px rgb(224, 224, 224);
}
.profile {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
img[alt="My Picture"] {
    border-radius: 50%;
    margin: 1em;
    width: 80%;
    max-width: 300px;
    border: 5px solid hsl(210, 11%, 30%);
    box-sizing: content-box;
}
#my-name {
    font-size: 3em;
    margin: 0;
}
#my-title {
    margin: 0 0 1em 0;
    padding: 0;
    color: hsl(210, 18%, 70%);
}
.folio-links{
    padding: 0;
}
.folio-links li {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
    transition: transform 300ms ease-out;
}
.folio-links li:hover {
    transform: translateY(10%);
}
.nav-container {
    display: flex;
    flex: 1 1 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.nav-links {
    padding: 0;
    font-size: 1.3em;
}
.nav-links li {
    display: inline-block;
    margin: 1.3em 0.7em 0 0.7em;
    position: relative;
}
.nav-links li a {
    font-family: 'Fjalla One', sans-serif;
}
.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hsl(210, 18%, 70%);
    transition: transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
.nav-links li a:hover::after {
    transform: scale(1);
}
.nav-links li a.current::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hsl(210, 18%, 70%);
    opacity: 1;
    transform: scale(1);
}
.hero {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(33, 37, 41, 1), transparent), url("https://images.unsplash.com/photo-1602328142707-12b9c0476d59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-position: 50% 100%;
    background-size: cover;
}
.hero-top-gradient {
    background-image: linear-gradient(to bottom, rgba(33, 37, 41, 1), transparent);
}
.hero-content {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.summary {
    text-align: center;
    border: 2px solid rgb(99, 120, 141);
    box-shadow: 5px 5px 10px rgba(33, 37, 41, 1);
    padding: 1em;
    border-radius: 1em;
    margin: 1.5em 0.5em;
    background-color: rgba(33, 37, 41, 0.7);
    max-width: 470px;
}
.hero-card {
    margin: 1em 0 2em 0;
}
.card-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    margin: 0;
}
.card-title {
    color:	hsl(210, 18%, 70%);
    line-height: normal;
    margin: 0;
}
.card-info {
    line-height: 0.5em;
}
.card-link {
    color: hsl(210, 18%, 60%);
    text-decoration: underline;
}
.card-link:hover {
    color: hsl(210, 18%, 100%);
}
@media (min-width: 451px) {
    .hero-content {
        margin: 1.5em auto;
    }
}
@media (min-width: 1024px) {
    .container {
        align-items: flex-end;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    img[alt="My Picture"] {
        margin: 1em 0.3em 0 2em;
        width: 30%;
        max-width: 150px;
    }
    #my-name {
        font-size: 3.5em;
        margin: 1rem 1rem 0 1rem;
        display: inline;
    }
    .profile {
        align-items: flex-end;
    }
    .folio-links {
        margin: 0 2em 0 0;
    }
}