body {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    color: white;
}
video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
}
div.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    padding: 0.3em 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 15px black;
}
.nav-item.logo a {
    font-size: 2em;
    margin-right: 1em;
    font-family: 'Sora', sans-serif;
}
ul.nav-list {
    display: flex;
    align-items: center;
}
li.nav-item {
    display: inline-block;
    position: relative;
    margin: 0 1em;
}
button.nav-drop-btn {
    position: relative;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    color: white;
    cursor: pointer;
}
img[src="arrow-down.png"] {
    width: 10px;
    bottom: 0;
    padding: 0.3rem;
    transition: transform 400ms ease;
    transform-origin: center;
}
li.nav-item:hover img[src="arrow-down.png"] {
    transform: rotateZ(90deg);
}
ul.dropdown-content {
    position: absolute;
    left: 0;
    top: -100em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    opacity: 0;
    width: 200px;
    transition: opacity 400ms ease;
}
li.nav-item:hover ul.dropdown-content {
    opacity: 1;
    top: 120%;
}
li.drop-item {
    padding: 5% 8%;
}
li.drop-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.drop-item-hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
}
#loginBtn {
    transition: color 300ms ease;
}
#loginBtn:hover {
    color: hsl(30, 100%, 77%);
}
.btn {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 0 1rem;
    padding: 8px 16px;
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 300ms;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 1);
}



.showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1000;
    margin: 2em;
}
img[alt="Coconut Tree"] {
    width: 15%;
    position: relative;
    z-index: 1001;
}
.showcase-text {
    border-radius: 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-left: 1em;
}
.showcase-text h1 {
    padding: 0.5em 1em;
    margin: 0;
    display: inline-block;
}